body {
    background-color: #141414;
}
a {
    text-decoration:none;
}
.app {
    padding: 0 20px;
}
header{
    padding:20px 0;
    /* background-color: #F2CB57; */
    text-align: center;
    margin-bottom: 20px;
}
.logo {
    font-size:50px;
    font-weight: bold;
    color: #E50914;
}

/* searchForm */
.searchForm select {
    width:10vw;
    padding:10px 5px;
}
.searchForm input {
    width: 80vw;
    padding:10px 5px;
}
.searchForm button {
    padding:10px 5px;
}

/* resultForm */
.resultForm {
    color: #fff;
}
.resultForm > span:first-child {
  color: #808080;
}
.resultForm > span b {
  color: #fff;
}

.resultForm .resultTotal {
  display: block;
  margin:10px 0;
}

.resultForm ul {
  overflow: hidden;
}

.resultForm li {
  position: relative;
  float: left;
  width: auto;
  margin: 5px;
}

.resultForm li > a {
  display: inline-block;

  width:213px;
  height: 316px;
}
.resultForm li > a > img {
  /* width: 100%; */
  width: 213px;
  height: 316px;
  /* Img 와 a 중 ... 어떤거를 사이즈를 정하는게 더 현명할까? */
}
.resultForm li .movieInfor {
  display: none;
}
.resultForm li:hover .movieInfor {
  display: block;
  position: absolute;
  top:16px;
  right: 0;
  left: 0;
  bottom: 0;
  /* width:213px; */
  /* width:213px; */
  /* height: 316px; */
  padding:15px;
  background-color: rgba(0, 0, 0, 0.8);
}
.movieInfor > * {
  color: #c0c0c0;
}
.movieInfor > span {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 10px;
}
.movieInfor > p {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: normal; 
  line-height: 1.2; 
  max-height:11.6em; 
  text-align: left;
  word-wrap: break-word; 
  display: -webkit-box; 
 -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

/* components - inforContent */
.inforContent {
  padding: 10px;
  background-color:  rgba(228, 228, 229, 0.4);
  text-align: center;
  /* border-radius: 5%; */
}
.inforContent > * {
  color: white;
  line-height: 1.3;
}
.infor_main {
  display: inline-block;
  padding: 10px;
  /* width:70%; */
  /* margin: 0 auto; */
  overflow: hidden;
  outline:1px solid wheat;
}
.infor_main > .main_poster {
  float: left;
  margin-right: 10px;
}
.infor_main > .main_poster > img {
  width: 213px;
  height: 316px;
}
.infor_main > .main_text {
  float: right;
}
/* .infor_main > .main_text > * {
  display: block;
} */
/* .infor_main > .main_text > h2 {
  display: inline-block;
} */
.infor_main > .main_text > .eng_title {
  display: block;
  color: rgba(202, 188, 188, 0.726);
}
.infor_main > .main_text > .genre_nation , .infor_main > .main_text >.repRlsDate{
  display: block;
}
/* .infor_main > .main_text .actor {
  display: inline-block;
} */
.infor_main > .main_text .actor > * {
  display: inline-block;
}
.infor_story {
  margin:20px 0;
}
.infor_story > span {
  display: block;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
/* .infor_story > p {
  line-height: 1.3;
} */
.infror_stlls li {
  display: inline-block;
}
